<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Cats clicker</title>

</head>
<body ng-app="catsClicker">

<div ng-controller="catsCollectionCtrl as catsList">
    <div style="display:inline-block" ng-repeat="cat in catsList.items | orderBy:'name'" >

        <img ng-click="catsList.selectCat(cat.name)" ng-src="{{cat.image}}">
        </img>
        <p>name:{{cat.name}}</p>
        <p>clcks:{{cat.counter}}</p>

    </div>

    <div>
        <h2>Selected cat</h2>
        <img ng-src="{{catsList.items[catsList.selected].image}}">
        </img>

        <p>name:{{catsList.items[catsList.selected].name}}</p>
        <p>clcks:{{catsList.items[catsList.selected].counter}}</p>
    </div>

</div>
</body>

<script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/cats-clicker/angular.js"></script>
<script language="JavaScript" src="/cats-clicker/catsClickerApp.js"></script>
<script language="JavaScript" src="/cats-clicker/catsCollectionCtrl.js"></script>
<script language="JavaScript" src="/cats-clicker/catsSrv.js"></script>
</html>


