<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/cats-clicker/catsClicker.css">
    <title>Cats clicker</title>

</head>
<body ng-app="catsClicker">

<div ng-controller="catsCollectionCtrl as catsList">

    <div class="search-panel">
        <label for="cat-name">Name</label>
        <input type="text" name="cat-name" id="cat-name" ng-model="catsList.nameFilter"/>
        <label for="sort-order">Sorting</label>
        <select type="text" name="sort-order" id="sort-order" ng-model="catsList.sorting">
            <option value='asc' >Ascending</option>
            <option value='desc'>Descending</option>
        </select>
        <button class="search-button" ng-click="catsList.search();">Search</button>
    </div>

    <div style="display:inline-block" ng-repeat="cat in catsList.items | filter:catsList.searchObject | orderBy:'name':(catsList.sorting === 'desc') " >

        <img ng-click="catsList.selectCat(cat.name)" ng-src="{{cat.image}}">
        </img>
        <p>name:{{cat.name}} <span ng-show="cat.tick" class="tick">&#252;</span> </p>

    </div>

    <div>
        <h2>Selected cat</h2>

        <img ng-src="{{catsList.items[catsList.selected].image}}">
        </img>

        <p>name:{{catsList.items[catsList.selected].name}}</p>
        <p><span class="spinner-arrow" ng-click="catsList.addVote(catsList.items[catsList.selected].name)">&#9650</span>
            votes:{{catsList.items[catsList.selected].votes}}
            <span class="spinner-arrow" ng-click="catsList.removeVote(catsList.items[catsList.selected].name)">&#9660</span>
        </p>
    </div>


</div>
</body>

<script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/cats-clicker/libs/angular.js"></script>
<script language="JavaScript" src="/cats-clicker/catsClickerApp.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/catsClicker/catsCollectionCtrl.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/catsClicker/catsSrv.js"></script>
</html>


