<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/cats-clicker/catsClicker.css">
    <title>Cats clicker</title>

</head>
<body ng-app="catsClicker">

<div>
    <ul>
        <li><a href="#/login">login</a></li>
        <li><a href="#/addCat">Add Cat</a></li>
        <li><a href="#/addUser">Add User</a></li>
        <li><a href="#/about">About page</a></li>
        <li><a href="#">Cats list only</a></li>
    </ul>

</div>

<ng-view></ng-view>

<div ng-controller="catsCollectionCtrl as catsList">

    <div class="search-panel">
        <label for="cat-name">Name</label>
        <input type="text" name="cat-name" id="cat-name" ng-model="catsList.nameFilter"/>
        <label for="sort-order">Sorting</label>
        <select type="text" name="sort-order" id="sort-order" ng-model="catsList.sorting">
            <option value='asc' >Ascending</option>
            <option value='desc'>Descending</option>
        </select>
        <button class="search-button" ng-click="catsList.search();">Search</button>
    </div>

    <div style="display:inline-block" ng-repeat="cat in catsList.items | filter:catsList.searchObject | orderBy:'name':(catsList.sorting === 'desc') " >

        <img ng-click="catsList.selectCat(cat.id)" ng-src="{{cat.image}}">
        </img>
        <p>name:{{cat.name}} <span ng-show="cat.tick" class="tick">&#252;</span> </p>
        <p ng-show="catsList.canDelete(cat.id)" ><a href="" ng-click="catsList.deleteCat(cat.id)">Delete</a></p>

    </div>

    <div>
        <h2>Selected cat</h2>

        <img ng-src="{{catsList.items[catsList.selected].image}}">
        </img>

        <p>name:{{catsList.items[catsList.selected].name}}</p>
        <p ng-show="catsList.canVote(catsList.items[catsList.selected])"><span class="spinner-arrow" ng-click="catsList.addVote(catsList.items[catsList.selected].id)">&#9650</span>
            votes:{{catsList.items[catsList.selected].votes}}
            <span class="spinner-arrow" ng-click="catsList.removeVote(catsList.items[catsList.selected].id)">&#9660</span>
        </p>

    </div>

</div>



</body>

<script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/cats-clicker/libs/angular.js"></script>
<script src="/cats-clicker/libs/angular-cookies.js"></script>
<script src="/cats-clicker/libs/angular-route.js"></script>
<script src="/cats-clicker/libs/angular-cookies.js"></script>
<script language="JavaScript" src="/cats-clicker/catsClickerApp.js"></script>
<script language="JavaScript" src="/cats-clicker/catsClickerConfig.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/user/userSrv.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/catsClicker/catsCollectionCtrl.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/catsClicker/catsSrv.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/catsClicker/addCatCtrl.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/user/loginCtrl.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/user/addUserCtrl.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/commonUI/confirmationCheckDirective.js"></script>

</html>