<div>

<form name="addCat" enter-key-submit="btnSubmit" novalidate ng-submit="addCat.$valid && cat.addNewCat()">
    <fieldset>
        <legend>Add cat:</legend>
        <div >
            <label for="cat-name">Name:</label>
            <input set-focus id="cat-name" type="text" name="name" ng-model="cat.newCat.name" />
        </div>
        <div>
            <image-input parent-form="addCat" url-model="cat.newCat.image" image-name="image"></image-input>
        </div>

        <button  name="btnCancel" ng-click="cat.cancel()" type="cancel">Cancel</button>
        <button  name="btnSubmit"  type="submit">Submit</button>

    </fieldset>
</form>

<p>{{cat.notification}}</p>
</div>