<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="user" ng-controller="addUserCtrl as user">

<form role="form" name="addUser" novalidate ng-submit="addUser.$valid && user.addNewUser()">
    <fieldset>
        <legend>Add User:</legend>
        <div >
            <label for="user-name">Name:</label>
            <input id="user-name" type="text" name="name" ng-model="user.newUser.name" />
        </div>
        <div >
            <label for="user-email">Email:</label>
            <input type="email" required id="user-email" name="email" ng-model="user.newUser.email" />
                <span class="error-message" ng-show="addUser.email.$dirty && addUser.email.$invalid">
                    <span ng-show="addUser.email.$error.required">Email is required.</span>
                    <span ng-show="addUser.email.$error.email">Invalid Email.</span>
                </span>
        </div>
        <div>
            <label for="user-password">Password:</label>
            <input type="password" required id="user-password" name="password" ng-model="user.newUser.password" />
                <span class="error-message" ng-show="addUser.password.$dirty && addUser.password.$invalid">
                    <span ng-show="addUser.password.$error.required">Password is required.</span>
                </span>
        </div>
        <div>
            <label for="user-confirm-password">Confirm password:</label>
            <input type="password" required confirmation-check="user-password" id="user-confirm-password" name="confirmation" ng-model="user.newUser.confirmation" />
                <span class="error-message" ng-show="addUser.confirmation.$dirty && addUser.confirmation.$invalid">
                    <span ng-show="addUser.confirmation.$error.required">Password confirmation is required.</span>
                    <span ng-show="addUser.confirmation.$error.mismatch">Password and confirmation must coincide.</span>
                </span>
        </div>

        <button  name="btnCancel" ng-click="user.cancel()"  type="cancel">Cancel</button>
        <button  name="btnSubmit"  type="submit">Submit</button>

    </fieldset>
</form>

<p>{{user.notification}}</p>

</body>

<script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/cats-clicker/libs/angular.js"></script>
<script src="/cats-clicker/libs/angular-cookies.js"></script>
<script language="JavaScript" src="/cats-clicker/sections/user.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/user/userSrv.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/user/addUserCtrl.js"></script>
<script language="JavaScript" src="/cats-clicker/modules/commonUI/confirmationCheckDirective.js"></script>



</html>